:root {
    --blue-primary: #2f80ed;
    --blue-secondary: #2d9cdb;

    --gray-light: #bdbdbd;
    --gray-medium: #828282;
    --gray-dark: #333333;

    --black: #000000;

    --error: rgb(255, 79, 79);
    --success: rgb(116, 245, 122);

    --radius-medium: 8px;
    --radius-big: 12px;
}
